@using System.Globalization
@using M96.ContentLocalization.ContentCulturePickerWidget.Models
@using OrchardCore.ContentLocalization.ViewModels
@using OrchardCore.Localization
@inject ILocalizationService localizationService

@{
    List<string> cultures = (await localizationService.GetSupportedCulturesAsync()).ToList();
    List<CultureInfo> cultureInfos = new List<CultureInfo>();
    cultures.ForEach(c => cultureInfos.Add(CultureInfo.GetCultureInfo(c)));
    CultureInfo currentCulture = CultureInfo.GetCultureInfo(Orchard.CultureName());

    ContentCulturePickerWidgetPart part = ((ContentItem)Model.ContentItem).As<ContentCulturePickerWidgetPart>();
}

<div class="contentCulturePickerWidget@(part != null ? " " + part.WrapperCssClasses.Text : "")">
    <shape Type="ContentCulturePicker" prop-SupportedCultures=cultureInfos prop-CurrentCulture=currentCulture></shape>
</div>
